<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Nations of the World</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

	<!-- Header Section -->
	<header class="dark-mode-element">
		<!-- Header -->
		<a href="/">
			<h1 class="header__logotype">Nations of the World</h1>
		</a>

		<!-- Change Mode -->
		<div class="header__mode">
			<img class="header__mode-icon" src="/img/moon-dark.png" alt="moon icon">
			<p class="header__mode-text">Dark Mode</p>
		</div>
	</header>
