<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Countries of the World</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/img/favicon.png" />

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<!-- Header Section -->
		<header id="top" class="dark-mode-element">
			<!-- Header -->
			<a href="/">
				<h1 class="header__logotype">Countries of the World</h1>
			</a>
		</header>

		<!-- To Top Button -->
		<a href="#top" id="to-top-btn-link">
			<div class="to-top-btn">
				<img src="/img/to-top-arrow-dark.png" alt="up arrow icon">
			</div>
		</a>
