<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>REST Countries API</title>

  
</head>

<body>

  <section id="header">

  </section>

  <section id="main-container">

  </section>

</body>

</html>
