html {
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

/* 
 * Scrollbar
*/

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background: hsl(210, 26%, 12%);
}

::-webkit-scrollbar-thumb {
    background: #009F93;
}

/* 
 * Site Wide styles 
*/

main {
    flex-grow: 1;
    padding: 5%;    
    width: 100%;
}

.dark-mode-element {
    background-color: hsl(209, 23%, 22%);
}

.dark-mode-img-background {
    background-color: hsl(210, 26%, 12%);
}

.dark-mode-bg {
    background-color: hsl(207, 26%, 17%);
}

.hide {
    display: none;
}

/* To-Top Button */

.to-top-btn {
    align-items: center;
    background-color: #009F93;
    border-radius: 100%;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: fixed;
        right: 40px;
        bottom: 40px;
}


.to-top-btn:hover {
    cursor: pointer;
}

/* 
 * Header Section
*/

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

/* 
 * Footer Section
*/

footer {
    padding: 3% 5%;
    text-align: center;
}

/* 
 * Main Page
*/

/* Query Container - Search and Filter */

.query-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 3%;
    width: 100%;
}

/* Search Bar */

.query__search {
    align-items: center;
    border-style: none;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    padding: 20px 0 20px 25px;
    width: 30vw;
}

.query__search-icon {
    margin-right: 25px;
    width: 20px;
}

.query__search-input {
    background-color: transparent;
    border-style: none;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.query__search-input::placeholder {
    color: #ffffff;
}


.query__search-input:focus {
    outline: none;
}

/* Filter */

.query__filter {
    position: relative;
}

#query__filter-button {
    align-items: center;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
    justify-content: space-between;
    padding: 20px 25px;
    width: 100%;
}

#query__filter-button:hover {
    cursor: pointer;
}


#query__filter-button:focus {
    outline: none;
}

.query__filter-button-text {
    margin-left: 15px;
}

#query__filter-menu {
    border-radius: 5px;
    margin-top: 8px;
    padding: 25px;
    position: absolute; 
    width: 100%;
}

.query__filter-item {
    display: block;
    margin-bottom: 15px;
}

.query__filter-item:last-child {
    margin-bottom: 0;
}

/* Countries Container */

.countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
}

.countries__country {
    border-radius: 5px;
    box-shadow: 0 3px 2px hsla(0, 0%, 0%, 0.4);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    width: 100%;
}

.countries__country:hover {
    box-shadow: 0 15px 7px hsla(0, 0%, 0%, 0.4);
}

.countries__country-image {
    align-items: center;
    border-radius: 5px 5px 0 0;
    display: flex;
    height: 10rem;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.countries__country-image img {
    height: 100%;
}

.countries__country-info {
    height: 10rem;
    padding: 10%;
    width: 100%;
}

.countries__country-info__header {
    margin-bottom: 5%;
}

.countries__country-info__stat {
    display: block;
    margin-bottom: 2%;
}

.countries__country-info__stat-label {
    font-weight: 600;
}

/*
 * Specific Country Page 
*/

main.country {
    align-items: center; 
    display: flex; 
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}

/* Navigation Section */

.country__navigation-section {
    margin-bottom: 3%;
}

.country__navigation-section,
.country__country-section {
    width: 100%;
}

.navigation__back-btn {
    align-items: center;
    display: inline-flex;
}

.navigation__icon {
    width: 23px; 
}

/* Country Section */

.country__country-section {
    display: flex; 
}

.country__country-flag,
.country__country-specs-container {
    width: 50%;
}

/* Flag Section */

.country__country-flag {
    margin-right: 8%;
}

.country__country-flag img {
    width: 100%;
}

/* Specs Section */

.country__country-specs-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.country__country-name {
    font-size: 28px;
}

.country__country-info-container {
    display: flex; 
    margin: 5% 0 10% 0; 
    width: 100%;
}

.country__col {
    width: 50%;
}

.country__col:first-child {
    margin-right: 5%;
}

.country__info {
    display: block;
    margin-bottom: 5%;
}

.country__info:last-child {
    margin-bottom: 0;
}

.country__info-label, 
.country__border-countries-label {
    font-weight: 600;
}

.country__border-countries-label {
    margin-right: 15px;
}

/* Border Countries Container */

.country__border-country,
.navigation__back-btn {
    border-radius: 5px;
    box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.country__border-country:hover,
.navigation__back-btn:hover {
    box-shadow: 0 5px 3px hsla(0, 0%, 0%, 0.4);
}

.country__border-country {
    margin: 0 15px 15px 0;
    padding: 10px 20px; 
}

.navigation__back-btn {
    padding: 10px 30px; 
}

/*
 * Zero Matches
*/

#no-matches {
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: auto 0;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}